<h1>Contract DTE</h1>

<p><strong>Contract DTE</strong> es un m&oacute;dulo para Odoo que permite agregar los datos necesarios para la localizaci&oacute;n chilena (<code>l10n_cl_fe</code>) en los contratos del m&oacute;dulo de la OCA <a href="https://github.com/OCA/contract" target="_blank">contract</a>.</p>

<h2>Descripci&oacute;n</h2>

<p><strong>Contract DTE</strong> extiende las funcionalidades del m&oacute;dulo <a href="https://github.com/OCA/contract" target="_blank">contract</a> de la OCA, integrando los requerimientos espec&iacute;ficos para la facturaci&oacute;n electr&oacute;nica chilena (<code>l10n_cl_fe</code>). Este m&oacute;dulo facilita la gesti&oacute;n de contratos cumpliendo con la normativa local, permitiendo la emisi&oacute;n de documentos tributarios electr&oacute;nicos (DTE) con los par&aacute;metros DTE configurados en el contrato.</p>

<h2>Caracter&iacute;sticas</h2>

<ul>
    <li><strong>Integraci&oacute;n con l10n_cl_fe</strong>: A&ntilde;ade los campos y funcionalidades necesarios para cumplir con la facturaci&oacute;n electr&oacute;nica chilena en los contratos.</li>
    <li><strong>Compatibilidad con OCA contract</strong>: Funciona de manera fluida con el m&oacute;dulo <a href="https://github.com/OCA/contract" target="_blank">contract</a> de la OCA.</li>
    <li><strong>Automatizaci&oacute;n de DTE</strong>: Genera y env&iacute;a DTE autom&aacute;ticamente al crear o actualizar contratos.</li>
    <li><strong>Validaci&oacute;n de datos</strong>: Asegura que todos los datos requeridos para la localizaci&oacute;n chilena est&eacute;n completos y sean v&aacute;lidos.</li>
    <li><strong>Interfaz amigable</strong>: A&ntilde;ade campos adicionales en la vista de contratos para una gesti&oacute;n m&aacute;s eficiente.</li>
</ul>

<h2>Capturas de pantalla</h2>

<p><em>Aqu&iacute; puedes incluir im&aacute;genes de las vistas del m&oacute;dulo, mostrando los nuevos campos y funcionalidades a&ntilde;adidas.</em></p>

<h2>Instalaci&oacute;n</h2>

<h3>Clonar el repositorio:</h3>
<pre><code>git clone https://gitlab.com/dansanti/contract_dte.git</code></pre>

<h3>Mover el m&oacute;dulo a la carpeta de addons de Odoo:</h3>
<pre><code>mv contract_dte /ruta/a/tu/odoo/addons/</code></pre>

<h3>Actualizar la lista de m&oacute;dulos:</h3>
<p>Inicia sesi&oacute;n en Odoo, ve a <strong>Aplicaciones</strong> y haz clic en <strong>Actualizar lista de aplicaciones</strong>.</p>

<h3>Instalar el m&oacute;dulo:</h3>
<p>Busca <strong>Contract DTE</strong> y haz clic en <strong>Instalar</strong>.</p>

<h2>Configuraci&oacute;n</h2>

<h3>Configurar l10n_cl_fe:</h3>
<p>Aseg&uacute;rate de tener instalado y configurado el m&oacute;dulo <code>l10n_cl_fe</code> para la facturaci&oacute;n electr&oacute;nica chilena.</p>

<h3>Configurar el m&oacute;dulo contract:</h3>
<p>Instala y configura el m&oacute;dulo <a href="https://github.com/OCA/contract" target="_blank">contract</a> de la OCA si a&uacute;n no lo has hecho.</p>

<h2>Uso</h2>

<h3>Crear un contrato:</h3>
<ul>
    <li>Ve a <strong>Contratos</strong> y crea un nuevo contrato como de costumbre.</li>
    <li><strong>Completar los datos de DTE:</strong> Rellena los campos adicionales proporcionados por el m&oacute;dulo Contract DTE, como tipo de DTE, fecha de emisi&oacute;n, cliente, etc.</li>
</ul>

<h3>Generar DTE:</h3>
<ul>
    <li>Una vez creado o actualizado el contrato, el m&oacute;dulo generar&aacute; autom&aacute;ticamente el DTE correspondiente y lo enviar&aacute; al Servicio de Impuestos Internos (SII).</li>
    <li><strong>Revisar el estado del DTE:</strong> Puedes verificar el estado de los DTE generados desde la vista del contrato, donde se mostrar&aacute;n las facturas generadas y si fueron rechazados o est&aacute;n en proceso.</li>
</ul>

<h2>Dependencias</h2>
<ul>
    <li><strong>Odoo</strong>: Compatible con la versi&oacute;n 16.0.</li>
    <li><strong>M&oacute;dulo <a href="https://gitlab.com/dansanti/l10n_cl_fe" target="_blank">l10n_cl_fe</a></strong>: <a href="https://gitlab.com/dansanti/l10n_cl_fe" target="_blank">Localizaci&oacute;n chilena para facturaci&oacute;n electr&oacute;nica</a>.</li>
    <li><strong>M&oacute;dulo contract de la OCA</strong>: <a href="https://github.com/OCA/contract" target="_blank">OCA/contract</a>.</li>
</ul>

<h2>Contribuci&oacute;n</h2>

<p>&iexcl;Contribuciones son bienvenidas! Si deseas contribuir, por favor sigue estos pasos:</p>
<ol>
    <li><strong>Fork</strong> este repositorio.</li>
    <li><strong>Crea una rama</strong> para tu caracter&iacute;stica o correcci&oacute;n de bug (<code>git checkout -b feature/nueva-caracter&iacute;stica</code>).</li>
    <li><strong>Commit</strong> tus cambios (<code>git commit -m 'A&ntilde;adir nueva caracter&iacute;stica'</code>).</li>
    <li><strong>Push</strong> a la rama (<code>git push origin feature/nueva-caracter&iacute;stica</code>).</li>
    <li><strong>Abre un Pull Request</strong> describiendo tus cambios.</li>
</ol>
<p>Por favor, aseg&uacute;rate de que tus contribuciones sigan las gu&iacute;as de estilo del c&oacute;digo y que pasen todas las pruebas existentes.</p>

<h2>Licencia</h2>
<p>Este proyecto est&aacute; licenciado bajo la licencia <strong>AGPL-3</strong>. Consulta el archivo <a href="LICENSE" target="_blank">LICENSE</a> para m&aacute;s detalles.</p>

<h2>Capturas de pantalla</h2>
<p><em>Aqu&iacute; puedes incluir im&aacute;genes de las vistas del m&oacute;dulo, mostrando los nuevos campos y funcionalidades a&ntilde;adidas.</em></p>

<div class="footer">
    <p>Desarrollado por <a href="https://globalresponse.cl" target="_blank">GlobalResponse</a>. Para m&aacute;s informaci&oacute;n, visita <a href="https://globalresponse.cl" target="_blank">globalresponse.cl</a>.</p>
</div>
